<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spin that thing!</title>
  <style>
    body,
    html {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      font-family: 'Press Start 2P', serif;
    }

    h1,h2,h3 {
      margin: 0;
      padding: 0;
    }

    .chip-container {
      display: flex;
      justify-content: center;
      overflow: hidden;
    }

    .chip {

      background-color: #f368e0;

    }

    #canvas {
      max-width: 95vw;
      width: 100%;
      margin: auto;
    }
  </style>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Prompt:wght@200&display=swap" rel="stylesheet">
</head>

<body>

  {{{body}}}


</body>

</html>